Appkey.txt
AiTest/.vs
AiTest/obj
AiTest/bin
venv
Cpp/AiTest/vcpkg
Cpp/AiTest/x64
Cpp/AiTest/.vs
Cpp/AiTest/AiTest/x64
CSharp/.vs
CSharp/bin
CSharp/obj
Cpp/Gui/cpp-gui-app/Chatbot/build
.vscode
Cpp/Gui/cpp-gui-app/Chatbot/CMakeLists.txt.user
CSharp/GUI/chatbot/chatbot/.vs
CSharp/GUI/chatbot/chatbot/bin
CSharp/GUI/chatbot/chatbot/obj
